
<div class="co-content__new-chat-form">
    <!-- TITOLO -->
    <div class="input-field field-titolo">
        <div class="field-container">
            <label class="input-label" for="titolochat">Titolo</label>
            <input class="form-input-style" type="text" id="titolochat" name="titolochat" data-field="titolochat">
        </div>
    </div>

    <div class="co-content__new-chat-btn">
        {{ form.form_build_id }}
        {{ form.form_id }}
        {{ form.submit }}
    </div>
</div>
